@model  T2_GonzalesTasaycoDiego.Models.Distribuidor
@{
    ViewData["Title"] = "Amazon";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Amazon</h1>
<br />
<div>
    <div class="container">
        <h1 style="text-align: center; text-decoration: underline;" "> Amazon </h1>
        <br />
        <img style="display: block;-webkit-user-select: none;margin: auto;cursor: zoom-in;background-color: hsl(0, 0%, 90%);transition: background-color 300ms;" src="https://abellagraphicdesign.com/wp-content/uploads/2023/02/DESTACADA_0014_Fondo-copia-6.jpg" width="393" height="307">
            <div class="description">
                <br />
                <p><strong>Amazon</strong> ha transformado la manera en que el mundo compra y consume productos y servicios, expandiéndose desde sus inicios como una librería en línea hasta convertirse en un gigante tecnológico con intereses en comercio electrónico, computación en la nube, entretenimiento y más. A pesar de sus desafíos y controversias, sigue siendo una empresa innovadora y dominante en múltiples industrias.</p>
            </div>
    </div>

</div>

